<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
<h2>Add New Item</h2>
<form th:action="@{/items/add}" th:object="${item}" method="post">
    <label>Item Name: <input type="text" th:field="*{itemName}" /></label><br/>
    <label>Description: <input type="text" th:field="*{description}" /></label><br/>
    <label>Photos: <input type="text" th:field="*{photos}" /></label><br/>
    <label>Price: <input type="text" th:field="*{price}" /></label><br/>
    <button type="submit">Add Item</button>
</form>
<a th:href="@{/items}">Back to List</a>
</body>
</html>
