<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>
<h2>Edit Item</h2>
<form th:action="@{/items/edit/{id}(id=${item.getID()})}" th:object="${item}" method="post">
    <label>Item Name: <input type="text" th:field="*{itemName}" /></label><br/>
    <label>Description: <input type="text" th:field="*{description}" /></label><br/>
    <label>Photos: <input type="text" th:field="*{photos}" /></label><br/>
    <label>Price: <input type="text" th:field="*{price}" /></label><br/>
    <button type="submit">Update Item</button>
</form>
<a th:href="@{/items}">Back to List</a>
</body>
</html>
