<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Pawnshop Operation</title>
</head>
<body>
<h2>Edit Pawnshop Operation</h2>
<form th:action="@{/pawnshop-operations/edit/{id}(id=${pawnshopOperation.getID()})}" th:object="${pawnshopOperation}" method="post">
    <label>Client: <input type="text" th:field="*{client.firstName}" placeholder="First Name" />
        <input type="text" th:field="*{client.lastName}" placeholder="Last Name" /></label><br/>
    <label>Item: <input type="text" th:field="*{item.itemName}" /></label><br/>
    <label>Transaction Date: <input type="text" th:field="*{transactionDate}" placeholder="yyyy-MM-dd HH:mm" /></label><br/>
    <label>Loan Amount: <input type="text" th:field="*{loanAmount}" /></label><br/>
    <button type="submit">Update Pawnshop Operation</button>
</form>
<a th:href="@{/pawnshop-operations}">Back to List</a>
</body>
</html>
